<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_style(class="custom-control-input") }}
    {{ form.c_style.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_class(class="custom-control-input") }}
    {{ form.c_class.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_width(class="custom-control-input") }}
    {{ form.c_width.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_height(class="custom-control-input") }}
    {{ form.c_height.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_lang(class="custom-control-input") }}
    {{ form.c_lang.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_align(class="custom-control-input") }}
    {{ form.c_align.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_face(class="custom-control-input") }}
    {{ form.c_face.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_size(class="custom-control-input") }}
    {{ form.c_size.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_cellspacing(class="custom-control-input") }}
    {{ form.c_cellspacing.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_cellpadding(class="custom-control-input") }}
    {{ form.c_cellpadding.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_dir(class="custom-control-input") }}
    {{ form.c_dir.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_role(class="custom-control-input") }}
    {{ form.c_role.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_arialevel(class="custom-control-input") }}
    {{ form.c_arialevel.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_border(class="custom-control-input") }}
    {{ form.c_border.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_title(class="custom-control-input") }}
    {{ form.c_title.label(class="custom-control-label") }}
  </div>
</div>
