{% extends 'base.html' %}
{% block content%}

<form action="?" method="post" novalidate enctype="multipart/form-data" id="mainform1">
{{ form.hidden_tag() }}


<div class="row">
  <div class="col">
    <div class="card border-light">

  <div class="card-body">
    <div class="row">
      <div class="col-2 d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-sm">
          <i class="fa fa-shower"></i> Clean the document
        </button>
      </div>
      <div class="col-10">

        <ul class="nav nav-tabs" id="editor-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#editor-pane" type="button" role="tab" aria-controls="editor-pane" aria-selected="true">Editor</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-pane" type="button" role="tab" aria-controls="settings-pane" aria-selected="false">Settings</button>
          </li>
        </ul>

      </div>
    </div>




    <!-- Tab Content -->
    <div class="tab-content" id="myTabContent">
      <div id="editor-pane" role="tabpanel" aria-labelledby="editor-tab" tabindex="0" class="tab-pane fade show active">

        {{ form.text(class="form-control", placeholder=form.text.label.text) }}

      </div>
      <div id="settings-pane" role="tabpanel" aria-labelledby="settings-tab" tabindex="0" class="tab-pane fade">


        <div class="card-header">
          <div class="row">
            <div class="col-4">
              <h5 class="card-title">Attributes to remove</h5>
              {% include 'attributes.html' %}
            </div>

            <div class="col-4">
              <h5 class="card-title">Simplification</h5>
              {% include 'simplification.html' %}
            </div>

            <div class="col-4">
              <h5 class="card-title">Tags to remove</h5>
              {% include 'tags.html' %}
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

  </div>
</div>

</form>


{% endblock %}
