
<div class="col-xs-12 col-sm-12">
  <div class="custom-control custom-switch">
    {{ form.c_td_p(class="custom-control-input") }}
    {{ form.c_td_p.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-12">
  <div class="custom-control custom-switch">
    {{ form.c_td_p_strong(class="custom-control-input") }}
    {{ form.c_td_p_strong.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-12">
  <div class="custom-control custom-switch">
    {{ form.c_empty_anchors(class="custom-control-input") }}
    {{ form.c_empty_anchors.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-12">
  <div class="custom-control custom-switch">
    {{ form.c_empty_p(class="custom-control-input") }}
    {{ form.c_empty_p.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-12">
  <div class="custom-control custom-switch">
    {{ form.c_strong_strong(class="custom-control-input") }}
    {{ form.c_strong_strong.label(class="custom-control-label") }}
  </div>
</div>
