
<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_font(class="custom-control-input") }}
    {{ form.c_font.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_span(class="custom-control-input") }}
    {{ form.c_span.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_u(class="custom-control-input") }}
    {{ form.c_u.label(class="custom-control-label") }}
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="custom-control custom-switch">
    {{ form.c_div(class="custom-control-input") }}
    {{ form.c_div.label(class="custom-control-label") }}
  </div>
</div>
